<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>{% block title %}Moreinfo Application Form{% endblock %}</title>
	{% block stylesheets %}
		{% stylesheets
		'bundles/appformfrontend/content/css/*.css' filter="cssrewrite"
		%}
		<link type="text/css" rel="stylesheet" href="{{ asset_url }}">
		{% endstylesheets %}
		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block content %}{% endblock %}
{% block javascripts %}
	{% javascripts
	'@AppformFrontendBundle/Resources/public/content/js/jquery.min.js'
	'@AppformFrontendBundle/Resources/public/content/js/*'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}{% endblock %}
</body>
</html>
