<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>{% block title %}Moreinfo Application Form{% endblock %}</title>
	{% block stylesheets %}
		{% stylesheets '@AppformFrontendBundle/Resources/public/css/*' filter='cssrewrite' %}
		<link type="text/css" rel="stylesheet" href="{{ asset_url }}">
		{% endstylesheets %}
	{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="wrapper">
	{% block content %}{% endblock %}
</div>

{% block javascripts %}
	{% javascripts '@AppformFrontendBundle/Resources/public/js/jquery.js'
	'@AppformFrontendBundle/Resources/public/js/plugins/*'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}{% endblock %}
</body>
</html>
