#applicatoinForm table td:nth-child(2n) {
	max-width: 200px;
	word-wrap: break-word;
}
.checkbox {
	float: left;
	margin: 0 !important;
	width: 32%;
}

.checkbox label {
	margin: 0 !important;
	line-height: 10px;
	padding: 0 !important;
}

.form-group > div {
	padding: 1em;
	margin: 10px 0 0;
	background: #ededed;
	border-radius: 5px;
	overflow: hidden;
}