#applicatoinForm table td:nth-child(2n) {
	max-width: 200px;
	word-wrap: break-word;
}
.checkbox {
	float: left;
	margin: 0 !important;
	width: 25%;
}

.checkbox label {
	margin: 0 !important;
	line-height: 10px;
	padding: 0 !important;
}

.dropdown {
	padding: 1em;
	margin: 10px 0 0;
	background: #ededed;
	border-radius: 5px;
	overflow: hidden;
	position: absolute;
	z-index: 999999;
}
#iframeWrap #appform_frontendbundle_applicant_personalInformation_licenseState {
	left: -30%;
}
#iframeWrap #appform_frontendbundle_applicant_personalInformation_desiredAssignementState {
	right: -30%;
}

#intro {
	line-height: 21px;
	margin: 0 0 2% 0;
}

#intro h5 {
	margin: 0 !important;
}