.checkbox {
	float: left;
	margin: 0 !important;
	width: 25%;
}

.checkbox label {
	margin: 0 !important;
	line-height: 10px;
	padding: 0 !important;
}

.dropdown {
	padding: 1em;
	margin: 10px 0 0;
	background: #ededed;
	border-radius: 5px;
	overflow: hidden;
	position: absolute;
	z-index: 999999;
}
#iframeWrap #appform_frontendbundle_applicant_personalInformation_licenseState {
	left: -30%;
}
#iframeWrap #appform_frontendbundle_applicant_personalInformation_desiredAssignementState {
	right: -30%;
}

#iframeWrap {
	background: url("http://healthcaretravelers.com/templates/jsn_epic_pro/images/colors/blue/bg-master.jpg") repeat-x;
	background-size: contain;
	padding: 2%;
	width: 650px;
	border-radius: 5px;
}

#iframeWrap input, #iframeWrap select {
	font-size: 12px;
}
.ui-menu .ui-menu-item {
	font-size: 12px !important;
}
#iframeWrap #intro {
	color: #fff;
}
#iframeWrap .form-group {
	margin: 0px;
}
#iframeWrap .form-group label, #iframeWrap .control-label {
	color: #fff;
	font-size: 12px;
}
#iframeWrap  .token-label {
	font-size: 12px;
	line-height: 23px;
}
#iframeWrap #message .alert{
	font-size: 12px;
	margin: 5px;
	padding: 7px;
}
#intro {
	line-height: 19px;
	margin: 0 0 2% 0;
}

#intro h5, #intro h6 {
	margin: 0 !important;
}