<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<hr class="small">
				<p class="text-muted">Copyright &copy; HealthCare Employment Network 2015</p>
			</div>
			</div>
		</div>
	</div>
</footer>