{% extends "AppformFrontendBundle::layout.html.twig" %}
{% block title %}Moreinfo Application Form{% endblock %}
{% block stylesheets %}
	{% stylesheets
	'@AppformFrontendBundle/Resources/public/form/css/*'
	%}
	<link type="text/css" rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{% javascripts
	'@AppformFrontendBundle/Resources/public/form/js/jquery.1.11.1.min.js'
	'@AppformFrontendBundle/Resources/public/form/js/jquery.ui.min.js'
	'@AppformFrontendBundle/Resources/public/form/js/jquery.validate.min.js'
	'@AppformFrontendBundle/Resources/public/form/js/additional-methods.min.js'
	'@AppformFrontendBundle/Resources/public/form/js/jquery.form.min.js'
	'@AppformFrontendBundle/Resources/public/form/js/j-forms-3.js'
	'@AppformFrontendBundle/Resources/public/form/js/chosen.jquery.min.js'
	'@AppformFrontendBundle/Resources/public/form/js/jquery.maskedinput.min.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block content %}
	<div class="wrapper wrapper-640">
		<form method="post" class="j-forms j-multistep" id="j-forms" novalidate>

			<div class="header">
				<h1>More Information Request</h1>
				<h3>HCEN’s Client Network of Nationwide Staffing Agencies</h3>
			</div>
			<div class="content">
				<div class="success-message unit"><i class="fa fa-check"></i>Your application has been sent successfully</div>
			</div>
			<!-- end /.content -->
			<div class="footer">
				<div class="j-row">
					<button type="button" class="secondary-btn multi-prev-btn">Back</button>
				</div>
			</div>
			<!-- end /.footer -->
		</form>
	</div>
	<img src="https://track.ziprecruiter.com/conversion?board=healthcare_traveler_jobs_jobads" width="1" height="1"/>
	<img src="https://track.ziprecruiter.com/conversion?board=healthcare_traveler_jobs_cpc" width="1" height="1"/>

	{% if app.session.flashBag.has('discipline') %}
		{% set discipline = app.session.flashBag.get('discipline').0 %}
	{% endif %}
	{% if app.session.flashBag.has('location') %}
		{% set location = app.session.flashBag.get('location').0 %}
	{% endif %}

	<script type="text/javascript">
		$(document).ready(function(){
			setTimeout(function() {
				window.top.location.href = "https://healthcaretravelers.com/zipsearch?{% if discipline is defined %}title={{ discipline }}{% endif %}{% if location is defined %}&location={{ location }}{% endif %}";
			}, 10)
		});
	</script>

	<script src='https://jobs.thejobnetwork.com/Tracking/Ex/JobEndApply'></script>

	<!-- Beginning of Glassdoor Application Tracking Code -->
	<script>
		(function(){var tr = new Date().getTime();
			var iTag = document.createElement('img');
			var sys = '';
			var syscli = '';
			iTag.setAttribute('src', '//www.glassdoor.com/track/jobApply/complete.htm?partnerId=54627&sys='+sys+'&syscli='+syscli+'&cachebuster=' + tr);
			iTag.setAttribute('width', '1');
			iTag.setAttribute('height', '1');
			document.body.appendChild(iTag);
		})();
	</script>
	<noscript><img src="//www.glassdoor.com/track/jobApply/complete.htm?partnerId=54627" width="1" height="1" border="0"></noscript>
	<!-- End of Glassdoor Application Tracking Code -->

	<!-- Begin INDEED conversion code -->
	<script type="text/javascript">
		/ <![CDATA[ /
		var indeed_conversion_id = '5256144936763935';
		var indeed_conversion_label = '';
		/ ]]> /
	</script>
	<script type="text/javascript" src="//conv.indeed.com/pagead/conversion.js">
	</script>
	<noscript>
		<img height=1 width=1 border=0 src="//conv.indeed.com/pagead/conv/5256144936763935/?script=0">
	</noscript>
	<!-- End INDEED conversion code -->
	<!--Jobs2Careers Application Traffic Optimizer. Place on thank you page after application submission.-->
	<img src="//www.jobs2careers.com/conversion2.php?p=1950" width="1" height="1" style="opacity:0.0" />
{% endblock %}
