<header id="top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div style="float:left; width: 55%;">
					<a href="http://www.healthcaretravelers.com/" class="header"></a>
				</div>
				<div style="float:left; width: 43%;" class="col-md-4">
					<p style="color: #012056;" class="text-right">Phone: (855) 335-9924 <h></h></p>
					<p class="text-right"><a style="color: #012056;" href="mailto:Admin@HealthCareTravelers.com">Admin@HealthCareTravelers.com</a></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p style="color: #012056; font-style: italic" class="text-center">You have received another Healthcare Professional requesting more information</p>
			</div>
		</div>
	</div>
</header>