/web/reports/*
/web/bundles/
/web/uploads/images/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
vendor
bin
.idea
/web/js/
/web/css/
composer.phar
web/resume/*
web/resume
/web/.htaccess
