/web/bundles/
/web/uploads/images/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/web/js/
/web/css/
/web/resume/*
/web/resume/