{% extends "@AppformBackend/admin_base.html.twig" %}

{% block content %}
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Mailgroup Edit</h3>
            </div>
            <div class="box-body">
                {{ form(edit_form) }}
            </div>
            <!-- /.box-body -->
        </div>
    </div>
{% endblock %}
