{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
	<div class="greenLine"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="regComplete">
					<i></i>
					<p>На ваш электронный адрес выслано письмо для подтверждения <br>вашей регистрации</p>
				</div>
			</div>
		</div>
	</div>
{% endblock fos_user_content %}