{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
	<div class="greenLine"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="regComplete">
					<p>Поздравляем, ваш аккаунт подтвержден.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock fos_user_content %}