{% extends "@AppformBackend/Default/layout_admin_login.html.twig" %}

{% block body %}
	{% if not app.user %}
		<div class="login-container">
			<div class="login-box animated fadeInDown">
				<div class="login-body">
					<div class="login-title"><strong>Welcome back</strong> to HCEN</div>
					<form action="{{ path("fos_user_security_check") }}" class="form-horizontal" method="post">
						<div class="form-group">
							<div class="col-md-12">
								<input type="text" id="username" name="_username" class="form-control" placeholder="Username"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<input type="password" id="password" name="_password" class="form-control" placeholder="Password"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6">
							</div>
							<div class="col-md-6">
								<button class="btn btn-info btn-block">Log In</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}