{% extends 'AppformBackendBundle:Base:admin_base.html.twig' %}

{% block content -%}
	<div class="page-title">
		<h2><span class="fa fa-arrow-circle-o-left"></span>Campaign creation</h2>
	</div>
	<a class="btn btn-success pull-right" href="{{ path('campaign') }}">
		Back to the list
	</a>
	<!-- PAGE CONTENT WRAPPER -->
	<div class="page-content-wrap">
		<!-- START WIDGETS -->
		<div class="row">
			<div class="col-md-6">
				{{ form_start(form) }}
				<div class="form-group">
					<label class="control-label required"
				                               for="appform_backendbundle_campaign_applicants">Applicants</label><input
							type="text" id="appform_backendbundle_campaign_applicants"
							name="appform_backendbundle_campaign[applicants][]" required="required" class="form-control">
				</div>
				<div class="form-group">
					<label class="control-label required"
					       for="appform_backendbundle_campaign_applicants">Applicants</label><input
							type="text" id="appform_backendbundle_campaign_applicants"
							name="appform_backendbundle_campaign[applicants][]" required="required" class="form-control">
				</div>
				{{ form_rest(form) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ parent() }}
{% endblock %}