{% extends 'AppformBackendBundle:Base:admin_base.html.twig' %}

{% block content -%}
    <div class="page-title">
        <h2><span class="fa fa-arrow-circle-o-left"></span>Agency Group creation</h2>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <!-- START WIDGETS -->
        <div class="row">
            <div class="col-md-12">
                {{ form(form) }}
                <ul class="record_actions">
                    <li>
                        <a href="{{ path('agencygroup') }}">
                            Back to the list
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}